<!doctype html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Messagerie</title>
<link rel="stylesheet"
	href="/webjars/Semantic-UI/2.4.1/semantic.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.3/vuetify.min.css" />
<link
	href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'
	rel="stylesheet">

<style>
.highlight:hover {
	background-color: #f9fafb;
	cursor: pointer;
}
</style>

</head>
<body style="background-color: rgb(239, 240, 241)">
<v-app>
  <v-content>
    <v-container fluid>
	<div class="ui container">
	<div class="ui secondary pointing menu">
  <a class="item" href="http://127.0.0.1:8081/scripts/new">
    Ajout Script
  </a>
  <a class="item">
    Consultation Script
  </a>
  <a class="item">
    Consultation Profil
  </a>
  <div class="right menu">
    <form action="http://127.0.0.1:8081/appli/logout" method="POST">
		<input class="ui red button" type="submit" value="Logout">
	</form>
  </div>
</div>