{{>header}}
</body>
{{#orga}}
	<label for="name">Name :</label>
	<div class="ui input">
	  <input name="name" type="text" value="{{name}}">
	</div>
	</br>
	
	<label for="domain">Domain :</label>
	<div class="ui input">
	  <input type="text" name="domain" value="{{domain}}">
	</div>
	</br>
	
	<label for="aliases">Aliases :</label>
	<div class="ui input">
	  <input type="text" name="aliases" value="{{aliases}}">
	</div>
	</br>
	<button class="positive ui button">Save</button>  <button class="negative ui button">Cancel</button>
{{/orga}}

{{>footer}}