{{>main/header}}
{{>main/menu}}
<form class="ui form" method="POST" action="http://127.0.0.1:8081/scripts/submit">
  <div class="two fields">
	  <div class="field">
	    <label>Title</label>
	    <input type="text" name="title" placeholder="Title">
	  </div>
	  <div class="field">
	  	<label>Description</label>
		<input type="text" name="description" placeholder="Description">
	  </div>
  </div>
  <div class="field">
		<label>Content</label>
	    <textarea name="content" placeholder="Content"></textarea>
  </div>
  <div class="two fields">
	  <div class="field">
	  	<label>Language</label>
	    <select class="ui fluid dropdown" name="language">
	        <option disabled selected>Language</option>
	        {{#languages}}
	        	<option value="{{id}}">{{name}}</option>
	        {{/languages}}
	    </select>
     </div>
	 <div class="field">
	  	<label>Catégorie</label>
	    <select class="ui fluid dropdown" name="category">
	        <option disabled selected>Catégorie</option>
	        {{#categories}}
	        	<option value="{{id}}">{{name}}</option>
	        {{/categories}}
	    </select>
	 </div>
  </div>
  <input type="hidden" name="idUser" value="{{#userSession}}{{id}}{{/userSession}}">
  <button class="ui button" type="submit">Submit</button>
 
</form>


{{>main/footer}}